<!-- Version Tabs -->
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#master" aria-controls="master" role="tab" data-toggle="tab">MASTER</a></li>

    {{#each this.versions}}
      <li role="presentation"><a href="#ver-{{this.id}}" aria-controls="ver-{{this.id}}" role="tab" data-toggle="tab">{{this.name}}</a></li>
    {{/each}}

      <li role="presentation">
        <span role="tab" contenteditable="true" id="new-ver-name-input">New Version</span>
        <span>
          <button type="button" class="btn btn-link btn-sm new-version-button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </span>
      </li>
  </ul>

  <!-- Tab panes -->
  <!--
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home"></div>
    <div role="tabpanel" class="tab-pane" id="profile"></div>
    <div role="tabpanel" class="tab-pane" id="messages"></div>
    <div role="tabpanel" class="tab-pane" id="settings"></div>
  </div>
  -->
</div>
