{{#each this.children}}
  <div class="doc-content {{this.style}}">
    <span contenteditable="true" class="doc-content-input" data-target="{{this.id}}">
      <h2>{{this.content}}</h2>
    </span>
    {{>doc-content}}
  </div>
{{/each}}
