{{#each this.children}}
  <div class="doc-content">
    <span contenteditable="true" class="doc-content-input" data-target="{{this.id}}">
      <div class="{{this.style}}">{{this.content}}</div>
    </span>
    {{>doc-content}}
    <div class="new-content">
      <span contenteditable="true" class="new-content-input">
        <div class="{{this.style}} small">enter new content here</div>
      </span>
    </div>
  </div>
{{/each}}
