{{#each documents}}
  <div class="doc-list">
    <div class="doc">
      <div class="{{json.style}}">
        <h1>{{this.title}}  </h1>
        <button type="button" class="btn btn-link delete-document-button" data-target="{{this.id}}">Delete Document</button>
        <button type="button" class="btn btn-link expand-document-button" data-target="{{this.id}}">Expand Document</button>
      </div>
      {{>doc-content}}
    </div>
  </div>
{{/each}}
