{{#each documents}}
  <div class="panel panel-doc">
    <div class="panel-heading {{json.style}}">
      {{>doc-title-group}}
    </div>
    <div class="collapse panel-body" id="doc-{{this.id}}-content">
      {{>doc-version-tabs}}
      {{>doc-content}}
    </div>
  </div>
{{/each}}
