<!-- LOGIN MODAL -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log In</h4>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" name="user" placeholder="Email Address">
          <input type="password" name="pass" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" id="sign-in" value="Log In">
        </form>
      </div>
      <div class="modal-footer">
        Don't have an account?
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
        <button type="button" class="btn btn-primary">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<!-- END LOGIN MODAL -->
