<!-- New Document Field -->
<form id="new-doc-form">
  <div class="form-group">
    <label for="newDocumentTitle">New Document</label>
    <input type="text" name="title" class="form-control" placeholder="Enter Title for New Document">
    <input type="submit" class="btn btn-default" value="Create">
  </div>
</form>
