<!-- New Document Field -->
<!--<form id="new-doc-form">
  <div class="form-group new-doc-form col-xs-4">
    <input type="text" name="title" class="form-control" placeholder="Create New Document">
    <button type="button" class="btn btn-link create-document-button" data-target="{{this.id}}">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</form>-->
<div class="panel panel-doc">
  <div class="panel-heading">
    <div class="doc-title-group">
      <span>
        <button type="button" class="btn btn-link create-document-button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </span>
      <div class="doc-title">
        <span contenteditable="true" id="new-doc-title-input">
          <h1>New Document</h1>
        </span>
      </div>
    </div>
  </div>
</div>
