<!-- New Document Field -->
<!--<form id="new-doc-form">
  <div class="form-group new-doc-form col-xs-4">
    <input type="text" name="title" class="form-control" placeholder="Create New Document">
    <button type="button" class="btn btn-link create-document-button" data-target="{{this.id}}">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </div>
</form>-->

<form id="new-doc-form">
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
          <input type="text" name="title" class="form-control" placeholder="Create New Document">
          <span class="input-group-btn">
            <button class="btn btn-default create-document-button" type="button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
</form>
