// DOCUMENT VARIABLES
$doc-border-style: solid $gray-border 1px;


// DOCUMENT CONTAINER
.panel-doc {
  background-color: inherit;
  box-shadow: $sm-shadow;
  border-radius: 0;
  text-align: left;
}

// DOCUMENT TITLE SECTION

.delete-document-button {
  float: right;
}

.doc-title {
  display: inline-block;
}


// DOCUMENT VERSION TABS

.new-version-input {
  color: $text-color-secondary;
  font-style: italic;
}


// DOCUMENT BODY

.doc-content-container {
  border-left: $doc-border-style;
  padding-left: 15px;
}

.doc-content-group.level-1 {
  padding-top: 15px;
}

.doc-content-group.level-2 {
  padding-top: 10px;
}

.doc-content-group.level-2 {
  padding-top: 5px;
}

.doc-content {
  display: inline-block;
}

//excluded sections
span.doc-content-input {
  color: $text-color-main;
}

// included sections
span.doc-content-input.tag-exclude {
  color: $text-color-secondary;
}

// new content input
.new-content-input {
  min-width: 100px;
  background-color: inherit;
  border: 0;
}

// hierarchical text styling
.level-1, .level--plus {
  font-size: $font-size-h2;
}

.level-2, .level-1-plus {
  font-size: $font-size-h3;
}

.level-3, .level-2-plus {
  font-size: $font-size-h4;
}
