// DOCUMENT VARIABLES
$doc-border-style: solid $gray-border 1px;


// DOCUMENT CONTAINER
.panel-doc {
  background-color: inherit;
  box-shadow: $sm-shadow;
  border-radius: 0;
  text-align: left;
}

// DOCUMENT TITLE SECTION

.delete-document-button {
  float: right;
}

.doc-title {
  display: inline-block;
}


// DOCUMENT VERSION TABS




// DOCUMENT BODY

.doc-content-container {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: $doc-border-style;
}

.doc-content-group {
  display: inline-block;
  // border: $doc-border-style;
}

.doc-content {
  display: inline-block;
  margin: 10px 0;
}

//excluded sections
span.doc-content-input {
  color: $text-color-secondary;
}

// included sections
span.doc-content-input.tag-include {
  color: $text-color-main;
}

// new content input
.new-content-input {
  min-width: 100px;
  background-color: inherit;
  border: 0;
}
