body {
  background-color: #BBE9FB;
}

div.app-page {
  background-color: #FAF9F9;
  margin: 20px 20px 0px 20px;
  padding: 20px;
  height: auto;
  min-height: 100vh;
  box-shadow: 0 0 10px #888888;
}

nav.navbar {
  background-color: inherit;
  font-family: '@font-family-serif';
  padding: 20px 0;
}

.panel-doc {
  background-color: inherit;
  box-shadow: 1px 1px 4px #d0d0d0;
  border-radius: 0;
  text-align: left;
}

.expand-document-button {
  color: black;
}

.delete-document-button {
  float: right;
}

.doc-title {
  display: inline-block;
}

.doc-content {
  margin: 10px;
}
