
// Background
body {
  background-color: $background-color;
  color: $text-color-main;
  font-family: $font-family-serif;
}

// Main Page Styling
.app-page {
  background-color: $main-page-color;
  box-shadow: $lg-shadow;
  height: auto;
  margin: 20px auto 0;
  min-height: 100vh;
  max-width: 900px;
  padding: 20px;
}

.navbar {
  background-color: inherit;
  padding: 20px 0;
}

a {
  color: $text-color-link;
}
